html {
    background: url(../../assets/img/bg.llamados.jpg);
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
  }
  section {
    background: url('../../assets/img/bussiness.jpg');
    height: 551px;
    width: 58.9rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 9.1rem;
    left: -6rem;
    padding: 0 !important;
  }
  ul {
    color: white;
    right: 3rem;
    position: absolute;
    font-size: 2.8rem;
    top: 4rem;
  }